@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Semilight.woff2") format("woff2");
  font-weight: 350; /* Optional, or you can use 300 */
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Akhand";
  src: url("./Akhand-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
